#root {
  text-align: center;
  margin-top: 30px;
}

body {
  margin: 0;
}

a {
  margin: 5px;
  text-underline-offset: 4px;
}

hr {
  width: 90vw;
}
.Signup,
.Login
{
  background: #cfe1e1;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  color: black;
}




.CreateMoviePage,
.EditMoviePage
{
  background: #490f7c;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  color: black;
}
.FichaMoviePage 
{
  background: #0f7c78;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  color: black;
}

.favorite {
  font-size: 2rem;
  color: gold;
  cursor: pointer;
}





label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

h1, h2, h3, h4, h5 {
  text-decoration: underline;
}

